# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/
.env

# IDE/editor specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Log files
*.log

# Test coverage
.coverage
coverage.xml
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled files and artifacts
*.egg-info/
dist/
build/

# macOS specific files
.DS_Store
